.swiper-slide.is-tools.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active
  .solutions_blob_cards-tools-logo {
  scale: 1;
  opacity: 1;
}

.swiper-slide.swiper-slide.is-tools .solutions_blob_cards-tools-logo {
  scale: 0;
  opacity: 0;
  transition:
    scale 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}
